
body{
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
}

nav{
    background-color: aliceblue;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: auto;
    padding: auto 10px;
}

.links a{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-weight: 500;

}
.links {
    margin-right: 5em;
}
nav h1 {
    font-size: larger;
    font-weight: 600;
    margin-left: 5em;
}
a{
    background-color: aqua;
}

a:hover
{
    background-color: black;
}
/*main*/
main {
    background-color: blue;
    padding-top: 3em;
    padding-bottom: 3em;
}

.container
{   
    display: grid;
    grid-column:auto;
    justify-content: center;
    max-width: 1000px;
    position: relative;
}
.container:first-child
{
    display:grid;
    margin: 0 auto;
}
.title-controls 
{
    background-color: aliceblue;
    text-align: center;
    font-weight: 300;
}

.title-controls button
{
    height: 2.5em;
    width: 5em;
    color: black;
    background-color: rgb(183, 218, 218);
    border-radius: 15%;
    border: none;
}

#btn-crear:hover 
{
    color: aliceblue;
    background-color: black;
}

.crear-card
{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}
#form-card 
{
    width: ;
}

#form-card input
{
    width: 100%;
}

input::placeholder
{
    text-align: center;
    color:brown;
}
/*
Modal
.back-drop
{
    width: 100vw;
    height: 100vh;
    background-color: #136a6d80;
    z-index:1000;
    position: fixed;
    top: 0;
    left: 0;
}

.body-modal
{
    position:fixed;
    width: 800px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    z-index: 1005;
    
}*/


.container-cards
{
    background-color: aquamarine;
    max-height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card
{   display: flex;
    width: 20em;
    height: max-content;
    background-color: aqua;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 2em;
}

.body-card
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;  
}
.body-card .question
{
    font-size: 2em;
    margin: 0;
}
.body-card .answer
{
    font-size: 1.5em;
    margin: 0;
}



.footer-card {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-card button
{   
    height: 2.5em;
    width: 5em;
    color: black;
    background-color: rgb(183, 218, 218);
    border-radius: 15%;
    border: none;
}

.footer-card button:hover
{
    background-color: rgb(23, 25, 25);
    color: white;
}

.hide
{
    display: none;
}
.show
{
    display: block;
}
/*footer*/

footer{
    background-color: green;
    height: 10em;
}